<% if @book.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="form-user style-1 rounded has-shadow-1">
					<div class="row">
						<%= form_for(@book) do |f| %>
						<div class="col-md-6 col-md-offset-3">
							<table class="table table-striped">
								<div class="actions row">
								<h1>Editing Book</h1>
									    <h4>title</h4>
									    <%= f.text_field :title, class: "book_title  col-xs-12" %>
									    <h4>opinion</h4>

									    <%= f.text_area :body, class: "book_body  col-xs-12" %>
					                   <%= f.submit 'update Book',class: 'btn btn-info col-xs-12' %>
					                   </div>
					                   <% end %>
									    <%= link_to"show", book_path(@book.id),class: "book_#{@book.id}" %>
									    |
					                    <%= link_to"back", books_path(@book),class: "books back" %>

								</div>
							</table>
					    </div>
					</div>
					</div>
			</div>
        </div>

